.jumbotron {
  background-color: #462895;
  color: #fff;
  margin-bottom: 2rem;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e9ecef;
}

.bold {
  font-weight: bold;
}
