<div class="container-fluid">
  <div *ngIf="(viewFeedback$ | async)?.error === true" class="alert alert-danger">Server error</div>

  <div *ngIf="(viewFeedback$ | async)?.success === true" class="alert alert-success">Successfully signed-up</div>

  <!-- {{ (viewFeedback$ | async)?.feedback }} -->

  <div class="jumbotron text-center">
    <h1>
      <span>Hello {{ (userModelObs$ | async)?.firstName }}! </span>
    </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">First name</div>
      <div class="col-7 bold">
        {{ (userModelObs$ | async)?.firstName }}
      </div>
      <div class="col-5">Last name</div>
      <div class="col-7 bold">
        {{ (userModelObs$ | async)?.lastName }}
      </div>
      <div class="col-5">Email address</div>
      <div class="col-7 bold">
        {{ (userModelObs$ | async)?.emailAddress }}
      </div>
      <div class="col-5">Created at</div>
      <div class="col-7 bold">
        {{ (userModelObs$ | async)?.createdAt | date: 'dd/MM/yyyy HH:mm a' }}
      </div>
    </div>
  </div>
</div>
